@media (min-width: 600px){

         /* this applies to mobile in landscape and some tablets in portrait */

   .skills{
        width: 100%;
        float: left;
    }

    .skill{
         width: 50%;
         float: left;
    }

     h1{
        font-size: 1em;
    }

}/*   end min-width 600 */
